.btn {
  min-width: 120px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #248067;
  background-color: #45b787;
  cursor: pointer;
  transition: all .3s ease-in-out;
  font-size: 16px;
  font-weight: bold;
  color: #f0fff4;
}

.btn:focus {
  outline: none;
}
.btn:disabled, .btn.btn-disabled {
  border: 1px solid rgba(69, 183, 135, .5);
  color: #fff;
  background-color: rgba(69, 183, 135, .3);
  cursor: not-allowed;
}
.btn:disabled, .btn.btn-disabled > * {
  pointer-events: none;
}
.btn:hover {
  background-color: rgba(69, 183, 135, .8);
  color: #fff;
}

.btn-container {
  width: 200px;
  text-align: left;
}
.process-wrapper {
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.process-wrapper .font {
  color: #144a74;
  font-size: 12px;
  font-weight: bold;
  width: 30px;
  margin-left: 5px;
}
.process-container {
  width: 120px;
  height: 5px;
  border: 1px solid #144a74;
  border-radius: 4px;
  box-sizing: border-box;
}
.progress {
  width: 0;
  background-color: orangered;
  height: 3px;
}
.progress.green {
  background-color: green;
}

.cancel {
  cursor: pointer;
  margin-top: 5px;
  width: 120px;
  font-size: 14px;
  text-align: center;
  transition: all .3s ease;
  color: #757575;
}
.cancel:hover {
  color: orangered;
}

.drop-area {
  margin-bottom: 10px;
  width: 120px;
  height: 60px;
  border: 1px dashed #aaa;
  text-align: center;
  line-height: 60px;
  color: orangered;
  font-size: 12px;
  font-weight: bold;
}
.drop-area.dragging {
  border: 1px dashed orangered;
}